# output dir
output
instant_test_output
inference_test_output


*.jpg
*.png
*.txt
*.json
*.diff

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
detectron2.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode

# project dirs
/detectron2/model_zoo/configs
/datasets
/projects/*/datasets
/models
